* {
  background: $background-color;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: $font-family;
  main {
  display: grid;
  grid-template-areas: 
  "header header header"
  ".label ."
  ".input ."
  ".output .";
  border-radius: 50px;
  text-justify: center;
  h1 {
    grid-area: header;
    margin: 10px;
    letter-spacing: 10px;
    a, a:hover, a:focus, a:active {
      font-size: 2em;
      text-decoration: none;
      color: inherit;
 }
  }
  label {
    grid-area: label;
  }
  input {
    grid-area: input;
    text-justify: left;
    margin: 10px;
  }
  p {
    grid-area: output;
    font-size: 72px;
  }
}
}