* {
  font-size: 24px;
  text-align: center;
  color: #020122;
}

.letter-spacing {
  letter-spacing: 10px;
}

* {
  background: #F5F5F5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
body main {
  display: grid;
  grid-template-areas: "header header header" ".label ." ".input ." ".output .";
  border-radius: 50px;
  text-justify: center;
}
body main h1 {
  grid-area: header;
  margin: 10px;
  letter-spacing: 10px;
}
body main h1 a, body main h1 a:hover, body main h1 a:focus, body main h1 a:active {
  font-size: 2em;
  text-decoration: none;
  color: inherit;
}
body main label {
  grid-area: label;
}
body main input {
  grid-area: input;
  text-justify: left;
  margin: 10px;
}
body main p {
  grid-area: output;
  font-size: 72px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #translated-output {
    font-size: 24px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
a.middle {
  position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EF2D56;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}